@import './utils/reset.css';
@import './utils/colors.scss';

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
